body {
    background-color: rgba(228, 224, 224, 0.897);
    margin: 0;
    text-align: center;
}

#title {
    margin-top: 100px;
    font-size: 100px;
    padding-top: 30px;
}

#welcome {
    font-size: 70px;
    padding-top: 30px;
}

#login-box {
    border-style: solid;
    margin-top: 100px;
    width: 300px;
    padding: 30px;
    background-color: rgb(250, 249, 249);
    margin-left: auto;
    margin-right: auto;
}

#profile-box {
    border-style: solid;
    width: 300px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(250, 249, 249);
    margin-left: auto;
    margin-right: auto;
}

#options button{
    height: 200px;
    width: 300px;
    margin: 0;
    padding: 0;
} 

#profile {
    font-size: 40px;
}

#searchbtn {
    background-color: green;
}

#continuebtn {
    background-color: rgb(48, 48, 223);
}

#challengebtn {
    background-color: red;
}

button {
    font-size: 20px;
    background-color: rgb(187, 190, 245);
    margin: 10px;
    padding: 8px 15px;
}

h3 {
    margin-top: 10px;
    font-size: 40px;
}

#menu-options button {
    width:300px;
}

.container {
    width: 500px;
    height: 500px;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: 5s;
    margin-right: auto;
    margin-left: auto;
    transition: 4s ease-out;
}

.container div {
    height: 50%;
    width: 100%;
    position: absolute;
    clip-path: polygon(150% 0, 50% 100%, -50% 0);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    left: 50%;

}

#wheel-wrapper {
    position: relative;
    width: 500px;
    margin: auto;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid rgb(103, 131, 255);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.container .anml {
    background-color: #ff0505;
    transform: translateX(-50%) rotate(0deg);
}

.container .scnc {
    background-color: #20f704;
    transform: translateX(-50%) rotate(120deg);
}

.container .geo {
    background-color: #eeea08;
    transform: translateX(-50%) rotate(240deg);
}

#spin {
    margin-top: 50px;
}


#top {
    margin-top: 20px;
    font-size: 60px;
}

#leaderboard {
    border-style: solid;
    width: 300px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(250, 249, 249);
    margin-left: auto;
    margin-right: auto;
}